:root {
    --background:#AA90AE;
    --primary: #408AAE;
    --accent: #64228C;
}

body {
    background-color:var(--background);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url("abstract-wallpaper-1.jpg");
    background-size: cover;
    padding: 20px;
    border-radius: 15px;
    color: var(--section);
}

nav {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

section {
    background-color: var(--accent);
    width: 800px;
    margin-top: 30px;
    text-align: center;

}

h1, h2 {
    
      font-family: "Bitcount Grid Double", system-ui;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

section h2 {
    color: var(--accent);
}
a {
    color: var(--accent);
}

a:hover {
    color: var(--primary);
    transform: rotate(10deg);
    display: inline-block;
}
